
@{
    ViewData["Title"] = "Index";
}

<h2>contacts</h2>
<div>
    <style>
        body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: lightcyan;
        }

        .container {
            padding: 1px;
            background-color: lightblue;
        }
    </style>
  
        <p> Email- amlanpati6@gmail.com</p>

        <p> Phno- 6372709632</p>

        <p> landline-0672222517</p>
        <div id="section-highlight" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container offered" data-bgcolor="#103054" style="background-color: #4682B4; background-size: cover; box-shadow: -8px 8px 7px -1px #000;">

                <div class="text-left">

                    <h2>  Disciplines offered </h2>
                    <p> A comprehensive repository of study resources for learners across all disciplines </p>

                </div>

                <div class="row sequence align-items-center">

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow  align-items-center">
                            <i class="text-light">  <img src="~/images/y1.png" /> </i>

                            <div class="fb-text">
                                <h4> Engineering </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y2.png" /></i>

                            <div class="fb-text">
                                <h4> Humanities & Social Sciences </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y3.png" /></i>

                            <div class="fb-text">
                                <h4> Business Management </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light"> <img src="~/images/y4.png" /> </i>

                            <div class="fb-text">
                                <h4> Nursing & Personal Development </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light"><img src="~/images/y5.png" /> </i>

                            <div class="fb-text">
                                <h4> New Age Technologies </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y6.png" /> </i>

                            <div class="fb-text">
                                <h4> Business & Economics </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y7.png" /> </i>

                            <div class="fb-text">
                                <h4> Science & Mathematics </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y8.png" /></i>

                            <div class="fb-text">
                                <h4> Exam Preparation (Competitive) </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light"> <img src="~/images/y9.png" /></i>

                            <div class="fb-text">
                                <h4> English Language </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <!--                                    <i class="text-light"> <img src="images/offered/icon-9.png" /> </i>-->
                            <div class="fb-text">
                                <h4> <em>And many more...</em> </h4>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
  
</div>

