@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/jquery-3.7.0.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<style>
    body {
        background-image: url('~/images/b6.jpg');

    }   
    
}

</style>
<body>


    <div style="background-color:aliceblue;padding:25px; margin-top:25px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1500">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/e1.jpg" alt="ASP.NET" class="img-responsive" />

                    <div class="carousel-caption" role="option">
                        <p>
                            Learn anywhere any time .
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/e2.jpg" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn anywhere any time .
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/j2.jpg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn anywhere any time .
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container offered" data-bgcolor="#103054" style="background-color: lightblue; background-size: cover; box-shadow: -8px 8px 7px -1px #000;">

            <div class="row">
                <div class="col-md-3" style="font-size: 10px ">
                    <h2> Test Preparation</h2>
                    <ul>
                        <li> <a href="https://ndl.iitkgp.ac.in/" style="font-size: 15px "> CBSE</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/testprep/jee_neet" style="font-size: 15px "> IIT JEE, NEET</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/result?q=%7B%22t%22%3A%22sourceOrganization%22%2C%22k%22%3A%22%22%2C%22s%22%3A%5B%5D%2C%22b%22%3A%7B%22browse%22%3A%22sourceOrganization%22%2C%22filters%22%3A%5B%22sourceOrganization%3D%5C%22Joint%20Admission%20Test%20for%20M.Sc.%5C%22%22%5D%7D%7D" style="font-size: 15px "> JAM</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/result?q=%7B%22t%22%3A%22sourceOrganization%22%2C%22k%22%3A%22%22%2C%22s%22%3A%5B%5D%2C%22b%22%3A%7B%22browse%22%3A%22sourceOrganization%22%2C%22filters%22%3A%5B%22sourceOrganization%3D%5C%22Graduate%20Aptitude%20Test%20in%20Engineering%5C%22%22%5D%7D%7D" style="font-size: 15px "> GATE</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/testprep/career" style="font-size: 15px "> Career Development and Recruitment</a> </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2> Stream</h2>
                    <ul>
                        <li> <a href="https://ndl.iitkgp.ac.in/homestudy/school" style="font-size: 15px "> School</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/homestudy/engineering" style="font-size: 15px "> engineering</a> </li>
                        <li> <a href="https://go.microsoft.com/fwlink/?LinkId=398603" style="font-size: 15px "> Security</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/homestudy/science" style="font-size: 15px "> science</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/homestudy/humanities" style="font-size: 15px "> humanities</a> </li>
                        <li> <a href="https://ndl.iitkgp.ac.in/homestudy/literature" style="font-size: 15px "> literature</a> </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2> </h2>
                    <img src="~/images/o1.jpg" />
                </div>
            </div>
        </div>


        <div style="text-align:center">

            <h2 style="font-size: 50px " class="text-primary ">DIGILIB</h2>
            <p style="font-size: 20px " class="text-primary"><i>Learn anytime , anywhere </i></p>
            <p style="font-size: 20px " class="text-primary">
                India is transforming into Digital India and is giving wings to every young individual to take a long flight to the success of their dreams.
                One of the most important milestones achieved in this regard is the digital Library. It is the virtual repository of eBooks and study resources
                with one-click access and features like search and subscribes. So, now learning can come to those who are willing to learn without having to
                battle any hurdles. Be it remote learning or pursuing education on budget, the digital library gives the power of reading to every reader across
                the country. One of the worst-hit sections of the pandemic in terms of education is the school going kids. With the emergence of the digital
                library, school going students have hit a jackpot. With endless access to course books, digital libraries for schools in India are turning into
                a blessing for facilitating education at your fingertips.
            </p>

        </div>



        <div id="myCarousel" class="carousel slide; mt-2 col-md-12" data-ride="carousel" data-interval="1500" style="margin-top:95px">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/q1.jpg" alt="ASP.NET" class="img-responsive" />

                    <div class="carousel-caption" role="option">
                        <p>
                            Learn anywhere any time .

                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/q2.png" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn anywhere any time .

                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/q3.jpg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn anywhere any time .

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div aria-label="section" data-bgcolor="#fff" style="background-color: #fff; background-size: cover;">
            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-md-12 text-center" style="background-size: cover;">
                        <h2> Seamless learning experience   </h2> <br /><br />
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/w1.png" class="fp-image img-fluid" alt="" />
                            </div>

                            <h4>A wide collection of  <br /> eBooks just a click away</h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/w2.png" class="fp-image img-fluid" alt="" />
                            </div>

                            <h4>Have a hassle free study  <br /> material anywhere you like </h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/w3.png" class="fp-image img-fluid" alt="" />
                            </div>

                            <h4>Open your world of   <br /> knowledge on any device </h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/w4.png" class="fp-image img-fluid" alt="" />
                            </div>

                            <h4> No physical boundary or time  <br /> bound to gain knowledge </h4>

                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/w5.png" class="fp-image img-fluid" alt="" />
                            </div>

                            <h4>Uninterrupted learning   <br /> at all times </h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/w6.png" class="fp-image img-fluid" alt="" />
                            </div>

                            <h4> Voice notes, highlights, flashcards    <br /> and more for quick revision </h4>

                        </div>
                    </div>


                </div>
            </div>
        </div>



        <div id="section-highlight" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container offered" data-bgcolor="#103054" style="background-color: lightblue; background-size: cover; box-shadow: -8px 8px 7px -1px #000;">

                <div class="text-left">

                    <h2>  Disciplines offered </h2>
                    <p> A comprehensive repository of study resources for learners across all disciplines </p>

                </div>

                <div class="row sequence align-items-center">

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow  align-items-center">
                            <i class="text-light">  <img src="~/images/y1.png" /> </i>

                            <div class="fb-text">
                                <h4> Engineering </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y2.png" /></i>

                            <div class="fb-text">
                                <h4> Humanities & Social Sciences </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y3.png" /></i>

                            <div class="fb-text">
                                <h4> Business Management </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light"> <img src="~/images/y4.png" /> </i>

                            <div class="fb-text">
                                <h4> Nursing & Personal Development </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light"><img src="~/images/y5.png" /> </i>

                            <div class="fb-text">
                                <h4> New Age Technologies </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y6.png" /> </i>

                            <div class="fb-text">
                                <h4> Business & Economics </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y7.png" /> </i>

                            <div class="fb-text">
                                <h4> Science & Mathematics </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light">  <img src="~/images/y8.png" /></i>

                            <div class="fb-text">
                                <h4> Exam Preparation (Competitive) </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">
                            <i class="text-light"> <img src="~/images/y9.png" /></i>

                            <div class="fb-text">
                                <h4> English Language </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb30 sq-item wow">
                        <div class="f-box f-icon-left f-icon-circle f-icon-shadow">

                            <div class="fb-text">
                                <h4> <em>And many more...</em> </h4>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>

