
@{
    ViewData["Title"] = "about";
}

<h2>about</h2>
<style>
    body {
        font-family: Calibri, Helvetica, sans-serif;
        background-color: pink;
    }

    .container {
        padding: 50px;
        background-color: lightblue;
    }
</style>
<body>
    <p>This specially curated collection is for the students appearing for Boards and competative examination. Students can access useful contents at a single place and thus save time. </p>
    <p> It contains books, notes, questions, solutions, video lectures etc. on all subjects from Government bodies, CBSE board and Non-Government organizations.</p>

</body>



