
@{
    ViewData["Title"] = "contacts";
}

<h2>contacts</h2> 
<div>
    <style>
        body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: lightcyan;
        }

        .container {
            padding: 50px;
            background-color: lightblue;
        }
    </style>
    <body>
        <p> Email- amlanpati6@gmail.com</p>

        <p> Phno- 637270963</p>

        <p> landline-0672222517</p>


      

    </body>
</div>