
@{
    ViewData["Title"] = "Indexabout";
}


<h2  class="text-primary" style="text-align:center; font-size: 50px ">About</h2>
<style>
    body {
        font-family: Calibri, Helvetica, sans-serif;
        background-color: lightcyan;
      
    }

    .container {
        padding: 1px;
        background-color: lightblue;
       
    }
    
</style>
<body>

    <div class="img-caption">
        <img src="~/images/j3.jpg" class="img-responsive" alt="Digilib">
    </div>
    <div style="text-align:center">
        <p1 class="text-primary" style="font-size: 15px ">
            Digilib is a specially curated collection for the students appearing for Boards and competative examination. Students can access useful contents at a single place and thus save time. It contains books, notes, questions, solutions, video lectures etc. on all subjects from Government bodies, CBSE board and Non-Government organizations.
            Backed by our knowledge and expertise in the educational field, we want to create a strong business and digital impact. Our partnership with 300+ authors made us deliver quality and authentic content. Simultaneously we have created 10k+ direct and indirect jobs through retailers, wholesalers, library suppliers and channel partners. Through our digital products and services, we have made learning more personalized and reached 6 lakh learners across the country.
            Digital accessibility has a powerful impact on learning. Our anytime, anywhere digital learning accessibility has given every learner a competitive edge in their learning experience. Our gamut of digital learning solutions provide enumerable ways to engage and connect with learners and unlock a new dimension of personalized learning.
        </p1>

        <p1 class="text-primary" style="font-size: 15px ">
            It also provide individuals affordable access to scholarly research and literature across the country. It originates from the notion of building a more knowledgeable world and making scholarly literature accessible to all.
        </p1>
     </div>

        <div aria-label="section" data-bgcolor="#fff" style="background-color: #fff; background-size: cover;">
            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-md-12 text-center" style="background-size: cover;">
                        <h2> Empower your students with smart learning experience  </h2> <br /><br />
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/t1.png" class="rounded" alt="" />
                            </div>

                            <h4>
                                Find any title, Indian or Global,
                                on your fingertips
                            </h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/t2.png" class="rounded" alt="" />

                            </div>

                            <h4>
                                Find the most relevant and up to
                                date content to meet your needs
                            </h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/t3.png" class="fp-image img-fluid" alt="" />

                            </div>

                            <h4>
                                Analytics driven system
                                generated insights
                            </h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/t4.png" class="fp-image img-fluid" alt="" />

                            </div>

                            <h4>
                                Easy integration with your
                                eLearning platform
                            </h4>

                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/t5.png" class="fp-image img-fluid" alt="" />

                            </div>

                            <h4>
                                Pick and choose as per
                                your requirement
                            </h4>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 mb30" style="background-size: cover;">
                        <div class="f-profile text-center" style="background-size: cover;">
                            <div class="fp-wrap f-invert" style="background-size: cover;">
                                <img src="~/images/t6.png" class="fp-image img-fluid" alt="" />
                                class="rounded"
                            </div>

                            <h4>
                                Choose from 'Campus only access'
                                or 'Anywhere access'
                            </h4>

                        </div>
                    </div>


                </div>
            </div>
        </div>

</body>




